.form-center{
	margin:0 0 4% 1.5%;
}

.index-center{
	width: 98%;
	margin-left:1%;
}

.form-filter{
	padding: 10px;
	margin-bottom: 10px;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

.form-filter .input {
	margin-right: 10px;
}

.form-filter label{
	margin-right: 10px;
}

.input-upper{
	text-transform:uppercase;
}
