<footer id="footer-mb" class="sc-footer-mb visible-xs-block visible-sm-block">
  <div class="box-social">
    <p class="bs-label">
      Acesse as redes sociais da Natura
    </p>
    <p class="bs-wrap-link">
      <a href="https://www.facebook.com/natura.br" 
         title="" 
         class="bs-link footer-icon-fb"
         target="_blank">
        facebook
      </a>
      <a href="https://twitter.com/naturanet?utm_source=site_cf&utm_medium=rodape&utm_campaign=midias_sociais" 
         title="" 
         class="bs-link footer-icon-tw"
         target="_blank">
        twitter
      </a>
      <a href="https://www.youtube.com/user/naturabemestarbem?utm_source=site_cf&utm_medium=rodape&utm_campaign=midias_sociais" 
         title="" 
         class="bs-link footer-icon-yt"
         target="_blank">
        youtube
      </a>
      <a href="https://www.pinterest.com/natura/" 
         title="" 
         class="bs-link footer-icon-pt"
         target="_blank">
        pinterest
      </a>
    </p>
  </div>
  <div class="copy-holder">
    <small class="copy">    
      &copy; 2015 Natura
    </small>
  </div>
</footer>