<header id="header-mb" class="sc-header-mb visible-xs-block visible-sm-block">
  <div class="natura-bar">
    <img src="{{baseUrl}}/img/logo-natura.png" alt="Natura" class="natura-logo">
  </div>
</header>