<section id="banner-container">
	<div id="banner-content">
		<h3>ESPALHE A MENSAGEM <br> DE <strong>UCUUBA.</strong></h3>
		<h5>Compartilhe o site nas suas redes <br> sociais e conte aos seus amigos sobre a <br/> descoberta de Natura EKOS.</h5>
		<p class="social-icons-holder">
			<a class="social-icon sprite spritefacered" href="javascript:;" onclick="shareSiteFb();">facebook</a>
			<a class="social-icon sprite spritetwitterred" id="tw-site" href="javascript:;">twitter</a>
		</p>
	</div>
</section>