<div id="container-curiosities">
	<div id="curiosities">
		<h3 class="title-curiosities"><span class="strong">UCUUBA</span> E A FLORESTA</h3>
		<h5 class="subtitle-curiosities">A beleza dessa descoberta e o que ela traz de benefícios para o planeta.</h5>
		<div id="curiosities-carousel">
			<ul class="curiosities-carousel bxslider">
				<li class="slide-item" >
					<div class="curiosities-carousel-text-block item-3">
						<div class="bottom-line"></div>
						<div class="container-table big-one">
							<div class="container-cell">
								<h3 class="curiosities-carousel-title">UCUUBA: DE AMEAÇADA A <br> VALORIZADA
								<p class="curiosities-carousel-text">
									A Ucuubeira era uma árvore ameaçada de extinção <br> 
									devido à exploração de sua madeira.<br>
									Com o uso da manteiga de Ucuuba em nossa nova<br>
									linha, as sementes passam a valer mais do que o <br>
									tronco. Preservando a floresta, as comunidades têm<br>
									um negócio mais rentável e sustentável.
								</p>
							</div>
						</div>
					</div>
					<div class="curiosities-carousel-image-block">
						<img src="{{baseUrl}}/img/products/product-a.png" alt="UCUUBA E A FLORESTA">
					</div>
				</li>
				<li class="slide-item" >
					<div class="curiosities-carousel-text-block item-1">
						<div class="bottom-line"></div>
						<div class="container-table big-one">
							<div class="container-cell">
								<h3 class="curiosities-carousel-title">INICIATIVAS SUSTENTÁVEIS</h3>
								<p class="curiosities-carousel-text">
									Todas as partes da Ucuuba são aproveitadas pela<br>
									Natura: da semente, extraímos a<br>
									manteiga; da casca, retiramos o óleo essencial. Já as<br>
									embalagens são ecoeficientes, feitas de 50% PET<br>
									reciclado pós-consumo e 50% PET Verde30.
								</p>
							</div>
						</div>
					</div>
					<div class="curiosities-carousel-image-block">
						<img src="{{baseUrl}}/img/products/product-b.png" alt="">
					</div>
				</li>
				<li class="slide-item" >
					<div class="curiosities-carousel-text-block item-2">
						<div class="bottom-line"></div>
						<div class="container-table small-one">
							<div class="container-cell">
								<h3 class="curiosities-carousel-title">REDE EKOS</h3>
								<p class="curiosities-carousel-text">
									Natura EKOS construiu uma rede de negócios <br>
									sustentável, pioneira em responsabilidade <br>
									socioambiental. Uma rede que inclui 10 <br>
									comunidades que, após a parceria com <br>
									EKOS, passaram a receber uma capacitação para <br>
									preservar a ucuubeira e enxergar mais valor na <br>
									árvore em pé.
								</p>
							</div>
						</div>
					</div>
					<div class="curiosities-carousel-image-block">
						<img src="{{baseUrl}}/img/products/product-c.png" alt="">
					</div>
				</li>
				<li class="slide-item" >
					<div class="curiosities-carousel-text-block item-0">
						<div class="bottom-line"></div>
						<div class="container-table small-one">
							<div class="container-cell">
								<h3 class="curiosities-carousel-title">CONHEÇA MAIS SOBRE A UCUUBA</h3>
								<p class="curiosities-carousel-text">
									Ucuuba vem do tupi e quer dizer “árvore <br>
									da manteiga”. Quando maduros, seus frutos <br>
									se rompem, as sementes vermelhas caem e, <br>
									por serem mais leves que a água, boiam <br>
									sobre os igarapés, formando um flutuante e <br>
									belo tapete vivo nos rios amazônicos.
								</p>
							</div>
						</div>
					</div>
					<div class="curiosities-carousel-image-block">
						<img src="{{baseUrl}}/img/products/product-d.png" alt="CONHEÇA MAIS SOBRE A UCUUBA">
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>