<div class="wrapper-main z1">
	<div class="testimony-introduction">
		<p id="conheca-rede" class="gs">Quer saber a opinião de quem já experimentou<br> os novos produtos enriquecidos com a manteiga<br> de Ucuuba? <span class="link-conferir gb">Confira aqui:</span></p>						
		<div id="load-testimony"></div>
	</div>
	<section id="testimony-container">
		<div class="testimony-holder">
			<br clear="all">
		</div>
		<br clear="all">
		<div class="testimony-container-btn none">
			<p class="more-testimony gl">Clique na seta abaixo para ver mais depoimentos</p>
			<a href="javascript:;" class="testimony-btn first disable"><span class="sprite spriteup"></span></a>
			<a href="javascript:;" class="testimony-btn last it-is-disabled disable">
				<div class="arrow_box-soon"><p>EM BREVE</p></div>
				<span class="sprite spritedown"></span>
			</a>
		</div>
		<br clear="all">
	</section>
</div>