<header id="header">
	<!-- <div id="top-banners" class="twentytwenty-container"> -->
	<div id="top-banners-container">
		<div class="bgr-slider-fruto"><!-- --></div>
		<div class="bgr-slider-pote"><!-- --></div>
		<div id="top-banners-subcontainer">
			<div id="top-banners" class="beforeandafter">
				<div class="text-before">
					<p class="title-before">NATURA APRESENTA</p>
					<p class="subtitle-before">A SEMENTE DA UCUUBA:</p>
					<p class="special-txt-b">Uma nova matéria-prima que permitiu desenvolver produtos inovadores, unindo a poderosa hidratação reparadora a uma textura surpreendentemente leve e aveludada,<br/>que não pesa na pele.</p>
				</div>
				<div class="text-after">
					<span class="img-48-horas"></span>
					<p class="title-after">UMA NOVA LINHA DE CUIDADOS<br/>PARA O CORPO ENRIQUECIDA</p>
					<p class="subtitle-after">COM MANTEIGA DE UCUUBA.</p>
					<p class="last-text-after">Proporciona poderosa hidratação reparadora, acompanhada de uma sensação de leveza surpreendente e fragrância única.</p>
				</div>
				<div class="before">
					<div class="container-intro-slide">
						<h2>NATURA EKOS UCUUBA</h2>
						<h3>Hidratação reparadora <span class="strong">por até 48h</span> com <span class="br-span"><br></span> surpreendente <span class="strong">sensação de leveza na pele.</span></h3>
					</div>
				    <img src="{{baseUrl}}/img/banner/fruta2.png"/>
				</div>
				<div class="after">
					<div class="container-intro-slide">
						<h2 class="right-h">NATURA EKOS UCUUBA</h2>
						<h3 class="right-h">Hidratação reparadora <span class="strong">por até 48h</span> com <span class="br-span"><br></span> surpreendente <span class="strong">sensação de leveza na pele.</span></h3>
					</div>
				    <img src="{{baseUrl}}/img/banner/produto2.png"/>
				</div>
	    </div>
		</div>
	</div>
</header>	