<div class="wrapper-nature-power">
	<div class="nature-power-sub">
		<div class="block block-a">
			<p class="T40">CHAME <span class="blackout2-am">O PODER</span></p>
			<p class="T43">QUE VEM DA</p>
			<p class="T63 blackout2-am">NATUREZA</p>
			<p class="T38">CHAME <span class="blackout2-am" >NATURA.</span></p>
		</div>
		<div class="chame-natura-logo">
			<img src="{{baseUrl}}/img/chame-natura-logo.png" alt="">
		</div>
		<div class="holder-ativo-triplo">
			<img src="{{baseUrl}}/img/ativo-triplo.png" alt="">
		</div>
		<br clear="all" />

	</div>
	<section class="video">
		<div id="video-block-target">
			
		</div>
		<br clear="all" />
	</section>
	<div class="social-network-video">
		<span>Compartilhe: </span><br>
		<a href="javascript:;" class="sprite spritefacebook special" onclick="shareVideoFb();">FACEBOOK</a>
		<a href="javascript:;" id="tw-video" class="sprite spritetwitter">TWITTER</a>
	</div>
</div>
