<section id="amazon-butter">
	<div class="container">
		<div class="block-a">
			<p class="title-butter"><span class="strong">A MANTEIGA LEVE</span><br/>DA AMAZÔNIA</p>
			<div class="separator"></div>
			<div class="text-amazon-butter">
				<p>Sabe por que a Manteiga de Ucuuba é<br/>
				surpreendente? Mesmo com seu alto poder<br/>
				de hidratação, sua textura é extremamente<br/>
				leve. Isso acontece graças a uma combinação<br/>
				de ácidos graxos que forma um composto<br/>
				raro, a trimiristina, presente em alta quantidade<br/>
				nessa manteiga. É esta descoberta que<br/>
				proporciona uma hidratação prolongada por<br/>
				até 48 horas aliada à textura de toque seco<br/>
				e aveludado.
				</p>
			</div>
		</div>
		<div class="block-b">
			<div class="butter-image"></div>
		</div>
		<div class="block-b-mobile">
			<img src="{{baseUrl}}/img/fruto-ucuuba.png" class="fruto-ucuuba-mobile" alt="">
		</div>
		<br clear="all" />
		</div>
</section>