<link rel="stylesheet" href="{{baseUrl}}/css/css.min.css"/>

<div class="wrapper-ucuuba">
	<div class="modal-regulamento modal">
		<a href="#close" rel="modal:close" class="sprite spriteclose close-regulamento"></a>
		<div class="bloco-regulamento" id="termos-regulamento">
            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
            <div class="viewport">
            	<div class="overview">
					<h2 class="strong-regulamento">1. Nome e Finalidade</h2>

					<p>A ação recreativa (doravante denominada <span class="strong-regulamento">AÇÃO</span>) “PROJETO UCUUBA”, é promovida pela <span class="strong-regulamento">NATURA COSMÉTICOS SA</span>, inscrita no CNPJ/MF sob n° <span class="strong-regulamento">71.673.990/0001-77</span>, doravante denominada simplesmente <span class="strong-regulamento">“NATURA”</span>.</p>

					<p>A ação é válida em todo o território nacional e vigorará até o final das unidades disponíveis e estará hospedada  no endereço http://www.natura.com.br/www/nossas-marcas/ekos/</p>

					<p>2. A ação tem caráter exclusivamente recreativo, não envolvendo qualquer tipo de competição entre os participantes, dispensando, assim, qualquer tipo de autorização, não estando tampouco submetida à Lei 5768/71, à Portaria 422/13 e legislação correlata às promoções comerciais. </p>

					<h2 class="strong-regulamento" >2. Dos Participantes</h2>

					<p>2. Podem participar todos os maiores de 12 anos</p>

					<p>2.1. Para os participantes entre 12 e 17 anos, fica estabelecido que seus pais ou responsáveis têm conhecimento da referida participação, igualmente concordando com os termos do Plano de Operação e autorização de uso de dados e imagem</p>

					<p>2.2. A participação na presente ação recreativa implica total reconhecimento das condições e aceitação irrestrita destes termos, o qual está disponível no endereço http://www.natura.com.br/www/nossas-marcas/ekos/.</p>

					<p>2.3. Ao enviar conteúdo para a NATURA para participar desta ação recreativa, de acordo com as instruções fornecidas, os participantes automaticamente estão concordando com o presente regulamento, especialmente com os termos de autorização de uso de conteúdo referente a direitos autorais e uso de imagem. </p>

					<p>2.4. Os participantes são responsáveis pelas informações e conteúdos enviados para participar da ação. Serão automaticamente banidos da ação os participantes que praticarem qualquer tipo de ato considerado fraudulento, ilegal, ilícito, ou que atente contra os objetivos desta ação, da legislação em vigor e do seu Regulamento, sem exclusão das penalidades cabíveis. </p>

					<h2 class="strong-regulamento" >3. Dinâmica da ação</h2>

					<p>3.1. A ação recreativa pretende criar uma rede de relacionamento que se estabelece a partir da utilização e comentários acerca dos produtos UCUUBA. </p>
					<p>3.1.1 A ação contempla distribuição gratuita de prêmios sem competição despretensiosa visando o relacionamento da NATURA com seus clientes. </p>

					<p>3.2. Ao ser indicada por um(a) amigo(a), o participante receberá em sua residência um kit Ucuuba e será convidado(a) a deixar um depoimento sobre os produtos recebidos no endereço http://www.natura.com.br/www/nossas-marcas/ekos/.</p>

					<p>3.2.1. O depoimento deverá ter até 200 (duzentos caracteres), ser de autoria do participante e estar escrito em língua portuguesa. </p>

					<p>3.2.2. Após o registro do depoimento, o participante receberá um código de desconto de 30% (trinta por cento) na compra de qualquer produto Ekos realizada nas páginas de Consultores Natura Digitais hospedadas no Rede Natura (<a target="_blank" href="http://rede.natura.net/?utm_medium=linkRedeNatura&utm_content=siteCFEkosRede&utm_source=siteCFEkosRede&utm_campaign=Ucuuba">http://rede.natura.net</a>) com validade até 7 de julho de 2015.</p>

					<p>3.2.3. Caso o(a) amigo(a) convidado(a) opte por não fazer o depoimento, quem a convidou poderá convidar outra pessoa. </p>
					
					<p>3.2.4. O participante será também convidado a indicar um(a) amigo(a) para receber o kit Ucuuba, fornecendo os dados desse amigo, bem como indicar quantos amigos(as) desejarem, a fim de que estes recebam um código de desconto de 10% (dez por cento) na compra de qualquer produto da linha Ekos realizada nas páginas de Consultores Natura Digitais hospedadas no Rede Natura (<a target="_blank" href="http://rede.natura.net/?utm_medium=linkRedeNatura&utm_content=siteCFEkosRede&utm_source=siteCFEkosRede&utm_campaign=Ucuuba">http://rede.natura.net</a>) com validade até 7 de julho de 2015.</p>

					<p>3.2.5. A distribuição do kit Ucuuba está limitada a 100 (cem) unidades.</p>

					<p>3.3. A promoção vigorará entre os dias por prazo indeterminado até o final das unidades disponíveis.</p>


					<h2 class="strong-regulamento" >4. Publicidade, Direitos sobre Imagem e Direitos de Autor</h2>

					<p>4.1. Ao participar desta ação, remetendo e compartilhando conteúdos para a NATURA,  o participante estará automaticamente: (a) autorizando desde já e de pleno direito, de modo expresso e em caráter irrevogável e irretratável, o uso gratuito e livre de qualquer ônus ou encargo de sua criação,  nome, sua imagem em fotos, arquivos e/ou meios digitais ou não, digitalizadas ou não, em qualquer tipo de mídia e/ou peças promocionais, inclusive em eletrônica, impressa e internet, para a ampla divulgação da utilização da ferramenta ou do compartilhamento da ação, sem que tal autorização signifique, implique ou resulte em qualquer obrigação de divulgação nem de pagamento, concordando ainda, inclusive, em assinar eventuais recibos e instrumentos neste sentido e para tal efeito, sempre que solicitado pela <span class="strong-regulamento">NATURA</span>; (b) autorizando, reconhecendo e aceitando que os dados pessoais e demais informações passam a ser de propriedade da <span class="strong-regulamento">NATURA</span>  que poderá utilizar tais dados para os fins necessários para a adequada realização e conclusão desta ação c) <span class="strong-regulamento">autorizando desde já e de pleno direito de modo expresso e em caráter irrevogável e irretratável, o uso gratuito e livre de qualquer ônus ou encargo, do conteúdo enviado para participar desta ação, podendo a Natura criar obras derivadas ou editá-los, declarando outrossim, sob as penas da lei, que é autor ou titular dos direitos autorais do conteúdo enviado.</span></p>

					<p>4.1.1 . Qualquer utilização ou destinação a ser dada pela <span class="strong-regulamento">NATURA</span> de quaisquer dos itens mencionados nesta cláusula, seja das fotos, imagem, resultados ou conteúdo enviado do participante, não tem limitação de tempo ou número, podendo ocorrer no Brasil ou exterior sem que seja devida, pela <span class="strong-regulamento">NATURA</span> ao participante, qualquer indenização ou remuneração.</p>

					<p>4.1.2. Nos casos em que os participantes sejam menores de idade, esta autorização é dada por seus pais ou responsáveis a partir do momento em que concordam com os termos deste Regulamento, podendo estes ratificar tal autorização por escrito se assim for considerado necessário pela EMPRESA PROMOTORA. </p>

					<h2 class="strong-regulamento" >5. Disposições gerais</h2>

					<p>5.1. O participante assume inteira responsabilidade pelo conteúdo enviado para participar desta ação, declarando ser o autor ou titular de direitos autorais do conteúdo enviado.</p> 

					<p>5.2. Ficam cientes, desde já, os participantes ou seus responsáveis, que responderão judicialmente por todo e qualquer dano causado pela prática de atos ilícitos, sem prejuízo do direito de regresso pela <span class="strong-regulamento">NATURA</span>  no que for cabível.</p>

					<p>5.3. A <span class="strong-regulamento">NATURA</span> não poderá ser responsabilizada por participações perdidas, atrasadas, enviadas erroneamente, incompletas, incorretas, inválidas ou imprecisas ou ainda por partidas não finalizadas pelos participantes.</p>

					<p>5.4. A <span class="strong-regulamento">NATURA</span> reserva-se no direito de alterar qualquer item desta ação bem como interrompê-la, se necessário for, por meio de comunicação destinada a todos os participantes, a ser realizada através do endereço <a target="_blank" href="http://www.natura.com.br/www/nossas-marcas/ekos/"></a>, sem que sejam devidos aos participantes quaisquer premiações, bonificações, compensações, indenizações ou pagamento.</p>

					<p>5.5 A <span class="strong-regulamento">NATURA</span> reserva-se ao direito de usar as informações cadastrais obtidas apenas para fins internos de publicidade, divulgando suas ações e promoções, ressalvando, entretanto, que tais informações não serão comercializadas, nos termos da legislação referente a promoções comerciais em vigor.</p>

					<p>5.5.1. Toda comunicação acima será feita de acordo com a legislação bem como as regras e políticas autorreguladoras de marketing direto aceitas pelo mercado.</p>
					<p>5.5.2. A <span class="strong-regulamento">NATURA</span> obedecerá ao disposto na sua Política de Privacidade quanto ao manuseio e guarda das informações dos participantes. </p>

					<p>5.6 Fica desde já eleito o Foro da Comarca de São Paulo, Estado de São Paulo, com plena concordância de todos os participantes, com exclusão de qualquer outro foro, por mais privilegiado que seja, para dirimir a respeito de quaisquer dúvidas advindas do presente Termos de Uso a que ele se refere.</p>
				</div>
			</div>	
		</div>
		<div id="Scrollbar-Container">
			<div class="Scrollbar-Track">
		   		<div class="Scrollbar-Handle"></div>
			</div>
		</div>

	</div>
	
	<div class="modal-step-by-step modal">
		<div class="spritestepsbystep">
			
		</div>
		<div class="modal-step-text">
			<p class="acesse-text">Acesse o site <a target="_blank" style="color:#ffffff;" href="http://rede.natura.net/espaco/nossos-produtos/ekos-53b?utm_medium=linkRedeNatura&utm_content=siteCFEkosRede&utm_source=siteCFEkosRede&utm_campaign=Ucuuba">http://rede.natura.net</a> e selecione<br/>os produtos desejados.</p>
			<p class="clique-text">Clique em concluir compra.</p>
			<p class="inserir-text">Se você já tiver cadastro na Rede Natura, insira seu<br/>e-mail e senha nos campos apontados. Caso seja a<br/>sua primeira compra, clique em cadastre-se. </p>
			<p class="codigo-text">Confira o resumo da sua compra e insira o código<br/><span class="strong">RECOMENDOTRINTA</span> no campo cupom. </p>
			<p class="pagamento-text">Escolha a forma de pagamento e conclua a compra.</p>
		</div>
	</div>

	<input type="hidden" name="guest" id="guest">
	<input type="hidden" name="guestVerify" id="guestVerify">
	<input type="hidden" name="moreNodes" id="more-nodes">

	<div class="cadastro-ucuuba">
		<div class="container">
			<!-- block código ekos -->
			<div id="container-ekos-code" class="form form-center">
				<div class="intro-cadastro-ekos">
					<h2>
						<img src="{{baseUrl}}/img/letras-cadastro.png"/>
					</h2>
					<p>Aqui você conta como foi a sua experiência com os produtos de Natura EKOS Ucuuba e chama uma amiga para compartilhar a novidade.</p>
				</div>
				<div id="ekos-code" class="sprite spritecontainerbackgroundekoscode">
					<p class="ekos-code-text">Para acessar, digite o código que você recebeu junto com o KIT Natura EKOS Ucuuba:</p>
					<form action="" method="POST" id="ekoscode-form">
						<fieldset>
							<input type="text" class="required styled-input" data-min="1" name="code" id="code" value=""/>
						</fieldset>
						<a class="btn-type-a btn-confirmar" href="javascript:;">Confirmar</a>
					</form>
				</div>
			</div>
		</div>
		
		<!-- bloco deixar comentário -->
		<div id="commentarie-block">
			<div class="container">
				<div class="intro-commentarie-block">
					<h3>EXPERIMENTOU</h3>
					<h2>O NOVO EKOS <strong>UCUUBA?</strong></h2>
					<p>DEIXE SEU COMENTÁRIO E CHAME UMA AMIGA.</p>
				</div>
				<p class="red-text-comments text-fill-fields">Preencha seus dados e deixe seu comentário:</p>

				<!-- feedback de desconto por e-mail-->
				<p class="red-text-comments center-feed-success">Suas amigas receberão o desconto por e-mail</p>
			</div>

			<div class="container-form-comments">
				<span class="comfirm-result-icon sprite"></span>
				<div class="container">
					<!-- formulário de envio de comentário -->
					<form id="commentarie-main-form" class="default-form" action="" method="POST">
						<div class="clearfix full-width">
							<div class="connect-facebook">
								<div class="image-facebook">
									<span class="sprite no-image-facebook"></span>
								</div>
								<a href="javascript:;" class="sprite btn-facebook-connect"></a>
							</div>
							<div class="inputs-block">
								<div class="left-user-data">
									<input type="hidden" id="face-image-user" name="url_image" value="">
									<label for="nome-main">Nome Completo:</label>
									<input name="name" id="nome-main" data-min="1" class="required styled-input" type="text" value=""/>
									<label for="email-main">Email:</label>
									<input id="email-main" name="email" data-min="1" class="required email styled-input" type="text" value=""/>
								</div>
								<div class="divisor-comment-form"></div>
								<div class="right-user-data">
									<label for="comment">Conte por que você gostou dela:</label>
									<textarea name="comment" id="comment" cols="30" data-min="1" data-max="200" class="required styled-input textarea-comment" rows="10"></textarea>
									<em>Limite de <span class="limit-comment">200</span> caracteres</em>
									<div class="clearfix full-width container-checkbox">
										<a href="javascript:;" class="terms-checkbox sprite"></a> <a href="javascript:;" for="terms" id="terms-label">Li e aceito o regulamento</a>
										<br>
										<em class="error-checkbox" style="display:none;color:red;">É necessário aceitar o regulamento</em>
									</div>
									<a href="javascript:;" class="red-button-form register-user">Enviar</a>
								</div>
							</div>
						</div>
					</form>

					<!-- feedback de envio de comentário -->
					<p class="red-bold-text feedback-comments">
						Recebemos o seu comentário. Aguarde. Logo, ele vai aparecer na nossa página.
					</p>
					
					
					<!-- feedback de convite de amiga -->
					<div class="container-feedback-discount">
						<p class="red-bold-text">
							Você ganhou 30% de desconto em produtos EKOS na Rede Natura! <br />
							<span>Ao finalizar a sua compra, insira o código</span> RECOMENDOTRINTA <span>no campo "cupom".</span>							
						</p>
						<a href="javascript:;" class="red-button-form link-step-to-step">Veja o passo a passo</a>
					</div>	

					<!-- botão de voltar para página inicial -->
					<div class="container-back-home">
						<a id="btn-back-to-home" href="http://www.natura.com.br/ekos" class="link-back-home red-button-form">Voltar para a home de EKOS</a>
					</div>
				</div>
			</div>

			<div id="call-a-friend-container">
				<div class="shadow-inactive-form"></div>

				<div class="container">	
					 
					<!-- formulário para chamar uma amiga --> 
					<form id="call-a-friend" class="default-form" action="" method="POST">
						<p class="red-text-comments">Chame uma amiga:</p>
						<div class="clearfix full-width">
							<div class="left-call-friend">
								<label for="nome">Nome: *</label>
								<input name="name" class="required styled-input" id="nome" type="text"/>
								<label for="sobrenome">Sobrenome: *</label>
								<input id="sobrenome" data-min="1" class="required styled-input" name="last_name" type="text">
								<label for="email">Email: *</label>
								<input id="email" data-min="1" class="required email styled-input" name="email" class="email" type="text">
								<div class="clearfix full-width">
									<div class="left-form-friend">
										<label for="telefone">Telefone:</label>
										<input id="telefone" data-min="1" class="phone-mask styled-input" name="phone" type="text">
									</div>
									<div class="right-form-friend">
										<label for="celular">Celular: *</label>
										<input id="celular" data-min="1" class="cel-mask required styled-input" name="cell_phone" type="text">
									</div>
								</div>
							</div>

							<div class="right-call-friend bloco-endereco">
								<label for="endereco">Endereço: *</label>
								<input id="endereco" data-min="1" data-type="charsonly"  class="field-address charsonly required styled-input" name="address" type="text" value="">
								<div class="clearfix full-width">
									<div class="left-form-friend">
										<label for="numero">Número: *</label>
										<input id="numero" data-min="1" data-type="numberonly" class="field-address numberonly required styled-input" name="number" type="text" value="">
									</div>
									<div class="right-form-friend">
										<label for="complemento">Complemento:</label>
										<input id="complemento" class="field-address styled-input" name="complement" type="text" value="">
									</div>
									<div class="left-form-friend">
										<label for="bairro">Bairro: *</label>
										<input id="bairro" data-min="1" data-type="charsonly" class="field-address charsonly required styled-input" name="neighborhood" type="text" value="">
									</div>
									<div class="right-form-friend">
										<label for="cep">CEP: * (<a id="nao-sei-cep" target="_blank" href="http://www.buscacep.correios.com.br/">Não sei o CEP</a>)</label>
										<input id="cep" data-min="1" class="field-address cep-field required styled-input" name="cep" type="text" value="">
									</div>
									<div class="left-form-friend">
										<label for="estado">Estado: *</label>
										<select id="estado" data-min="1" class="field-address required styled-input" name="state" type="select">
											<!-- Fill via JS -->
										</select>
									</div>
									<div class="right-form-friend">
										<label for="cidade">Cidade: *</label>
										<select id="cidade" data-min="1" class="field-address required styled-input" name="city" type="select">
											<option value=""></option>
											<!-- Fill via JS -->
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="container-comfirm-friend">
							<a href="javascript:;" class="red-button-form link-invite-friends">Confirmar</a>
						</div>
					</form>
					
					<!-- chamado de e-mail de amigas -->
					<div class="container-invite-friends">	
						<div class="intro-invite-friends">
							<p class="main-text">Que tal incluir mais gente no seu chamado e passar a diante a descoberta de ucuuba?</p>
							<p class="red-text-invite">
								Preencha os campos abaixo com os dados de suas amiga para presenteá-las com 15% de desconto na compra de qualquer produto da linha Natura EKOS Ucuuba no Rede Natura.
							</p>
						</div>
						<input type="hidden" name="indexInvite" id="indexInvite" value="1">
						<form action="" id="form-new-friends" class="default-form invite-friend-form">
							<div class="container-invite-friend">
								<div class="clearfix full-width item-invite-friend">	
									<div class="left-invite-friends">
										<label for="">Nome e sobrenome:</label>
										<input type="text" maxlength="50" name="[0][name]" id="nameUser_0" class="name-friend required styled-input">
									</div>
									<div class="right-invite-friends">
										<label for="">E-mail</label>
										<input type="text" name="[0][email]" id="emailUser_0" class="email-friend required email styled-input">
									</div>
								</div>
							</div>
							<div class="container-add-more">
								<a href="javascript:;" class="add-more-friends">Adicionar mais uma amiga</a>
							</div>
							<div class="button-invite-friends">
								<a href="javascript:;" class="red-button-form link-new-friends">Confirmar</a>
							</div>
						</form>
					</div>

											
				</div>
			</div>
		</div>
		
		<div id="add-friend-block">
			
		</div>
	</div>
</div>


<script type="text/javascript">
window.home_page_ucuuba    = false;
window.cadatro_page_ucuuba = true;
function loadjscssfile(filename, filetype){
    if (filetype=="js"){ //if filename is a external JavaScript file
        var fileref=document.createElement('script');
        fileref.setAttribute("type","text/javascript");
        fileref.setAttribute("src", filename);
    }

    if (typeof fileref!="undefined")
        document.getElementsByTagName("head")[0].appendChild(fileref);
};
$(document).ready(function($) {
	loadjscssfile('{{baseUrl}}/js/ucuuba{{ext}}.js', 'js');
});


window.fbApiInit = false;
window.fbAsyncInit = function() {
	FB.init({
	    appId      : '836419273072511', // app Brave
	    xfbml      : true,
	    cookie 	   : true,
	    version    : 'v2.3'
	});

	fbApiInit = true;
};

(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>