<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<link rel="stylesheet" href="css/header.css">

		<script src="{{baseUrl}}/js_static/jquery-1.8.3.min.js" type="text/javascript"></script>

		<script data-main="{{baseUrl}}/js_static/categoria.js" src="{{baseUrl}}/js_static/require.js"></script>

		<!--[if lt IE 9]>
		    <!--<script src="js/vendor-ie.min.js"></script>-->
		<![endif]-->
		{{> fixed/tag_ga}}
	</head>
	<body>