
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td>
          <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_01.jpg" width="600" height="474" border="0" />
        </td>
      </tr>
    </table>
    <table style="background-color:#fff0d6" width="600" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td>
            <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_02.jpg" width="101" height="25" border="0" />
        </td>
        <td style="background-color:#fff0d6">
          <table heigth="20" width="181" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td heigth="20" width="181" align="right">
                <span style="font-family:Arial;font-weight:600;font-size:16px;color:#f04d38;line-height:9px;">Oi,</span>
              </td>
            </tr>
          </table>
        </td>
        <td style="background-color:#fff0d6">
          <table heigth="20" width="221" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td heigth="20" width="221" align="left">
                <span style="font-family:Arial;font-weight:600;font-size:16px;color:#f04d38;line-height:9px;"><?php echo $to; ?></span>
              </td>
            </tr>
          </table>
        </td>
        <td>
            <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_04.jpg" width="99" height="25" border="0" />
        </td>
      </tr>
    </table>
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td>
          <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_05.jpg" width="600" height="28" border="0" />
        </td>
      </tr>
    </table>
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td>
          <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_06.jpg" width="321" height="18" border="0" />
        </td>
        <td style="background-color:#fff0d6">
          <table heigth="18" width="279" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td heigth="18" width="279" align="">
                <span style="font-family:Arial;font-weight:600;font-size:16px;color:#f04d38;line-height:6px;margin-left:3px;">AAAAAAAAAA></span>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td>
          <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_08.jpg" width="600" height="213" border="0" />
        </td>
      </tr>
    </table>
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td>
          <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_09.jpg" width="275" height="17" border="0" />
        </td>
        <td>
          <a href="http://rede.natura.net/?utm_source=Email_MKT&utm_medium=Email_voucher&utm_content=Header&utm_campaign=Ekos_Ucuuba_Lancamento" target="_blank">
            <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_10.jpg" width="152" height="17" border="0" />
          </a>
        </td>
        <td>
          <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_11.jpg" width="173" height="17" border="0" />
        </td>
      </tr>
    </table>
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td>
          <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_12.jpg" width="600" height="234" border="0" />
        </td>
      </tr>
    </table>
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td>
          <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_13.jpg" width="600" height="234" border="0" />
        </td>
      </tr>
    </table>
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td>
          <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_14.jpg" width="600" height="234" border="0" />
        </td>
      </tr>
    </table>
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <td>
          <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_15.jpg" width="600" height="210" border="0" />
        </td>
      </tr>
    </table>
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center"> 
      <tr>
        <td>
          <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_16.jpg" width="365" height="27" border="0" />
        </td>
        <td>
          <a href="http://www.natura.com.br/www/nossas-marcas/ekos/?utm_source=Email_MKT&utm_medium=Email_voucher&utm_content=Header&utm_campaign=Ekos_Ucuuba_Lancamento" target="_blank">
            <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_17.jpg" width="53" height="27" border="0" />
          </a>
        </td>
        <td>
          <img style="display:block;margin:0;padding:0;border:0;outline:0;" src="http://www.ferramentacn.com.br/temp/emails/email-mkt-natura-ucuuba/voucher/img/img_18.jpg" width="182" height="27" border="0" />
        </td>
      </tr>
    </table>
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td width="20"></td>
            <td width="560">
              <table width="560" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                  <td height="10"></td>
                </tr>
                <tr>
                  <td><center><span style="font-family:Verdana;font-size:10px;color:#949494;">© Copyright 2013 NATURA COSMÉTICOS S/A com sede na Av. Alexandre Colares, 1.188 - Prédio 1 - Vila Jaguará, São Paulo/SP, CEP 05106-000, inscrito no CNPJ sob o nº 71.673.990/0039-40, IM 4313570-6, IE 146.184.587.110, telefone 0800 11 5566 (para ligações de celular, ligue 0300 11 55 66 ao custo de ligação local), e-mail: <a href="mailto:snac@natura.net" style="color:#0b6cda">snac@natura.net</a>, site: <a href="http://www.natura.com.br/www/?utm_source=Email_MKT&utm_medium=Email_voucher&utm_content=Header&utm_campaign=Ekos_Ucuuba_Lancamento" title="www.natura.com.br" target="_blank" style="color:#0b6cda">www.natura.com.br</a>.<br/><br/>
                  <font color="#000000" size="1">Por favor, não responda a esse email.<br />Caso não queira receber mais e-mails da Natura <a href="http://www.natura.com.br/opt-out" title="Descadastre-se" target="_blank" style="color:#0b6cda">clique aqui</a> e se descadastre-se</font>
                  </span></center></td>
                </tr>
                <tr>
                  <td height="10"></td>
                </tr>
            
            <td width="20"></td>
          </tr>
    </table>